<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
    </ul>
<% } %>
<div class="options">
    <h2>Welcome, <%- locals.accountData.account_firstname %></h2>
    <span>You're logged in</span>
    <a href="/account/management/<%=locals.accountData.account_id%>">Edit account information</a>
    <% if(locals.accountData.account_type === "Admin" || locals.accountData.account_type === "Employee") { %>
        <h3>Inventory Management</h3>
        <a href="/inv/">Manage Inventory</a>
    <% } %>
</div>
