<form action="/inv/new/inventory" method="post" class="newInventory">
    <h1><%- title %></h1>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <%  }) %>
        </ul>
    <% } %>
    <label for="classification_id">
        Classification:
        <%- classification %>
    </label>
    <label for="inv_make">
        Make:
        <input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make %>" placeholder="Min 3 characters">
    </label>
    <label for="inv_model">
        Model:
        <input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>" placeholder="Min 3 characters">
    </label>
    <label for="inv_description">
        Description:
        <textarea name="inv_description" id="inv_description" required rows="2"><%= locals.inv_description %></textarea>
    </label>
    <label for="inv_image">
        Image Path:
        <input type="text" name="inv_image" id="inv_image" required value="<%= locals.inv_image %>">
    </label>
    <label for="inv_thumbnail">
        Thumbnail Path:
        <input type="text" name="inv_thumbnail" id="inv_thumbnail" required value="<%= locals.inv_thumbnail %>">
    </label>
    <label for="inv_price">
        Price:
        <input type="number" name="inv_price" id="inv_price" required value="<%= locals.inv_price %>" placeholder="Decimal or Integer">
    </label>
    <label for="inv_year">
        Year:
        <input type="number" name="inv_year" id="inv_year" required value="<%= locals.inv_year %>" placeholder="4-digit year">
    </label>
    <label for="inv_miles">
        Miles:
        <input type="number" name="inv_miles" id="inv_miles" required value="<%= locals.inv_miles %>" placeholder="Only numbers">
    </label>
    <label for="inv_color">
        Color:
        <input type="text" name="inv_color" id="inv_color" required value="<%= locals.inv_color %>" placeholder="Min 3 characters">
    </label>
    <button class="add-btn"><%- title %></button>
</form>
